<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd8CabOHq_V_59IWyvQrw3fEZ4___zHUM</string>
	<key>GCM_SENDER_ID</key>
	<string>645858647907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.KLP</string>
	<key>PROJECT_ID</key>
	<string>klp-test-1b6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>klp-test-1b6ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645858647907:ios:53744a6fe0a5c8bfac7d56</string>
</dict>
</plist>